*{
    box-sizing: border-box;
}

body{
    background-color: gold;
}

main{
    margin: 20px;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.tm{
    height: 20vh;
    width: 215px;
}

.header{
    margin-top: 10px;
}

nav{
    background-color: black;
    padding: 10px;
    height: 10vh;
}

.ul{
    display: flex;
    justify-content: space-around;
}

.li{
    text-decoration: none;
    color: aqua;
}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section{
    color: whitesmoke;
    padding: 25px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.titulo{
    margin-bottom: 25px;
    border-bottom: black solid 3px;
}

.info{
    width: 190px;
    padding-top: 30px;
    margin: 0px 10px 0px 10px;
}

.foto{
    height: 220px;
    width: 140px;
}

.a{
    text-decoration: none;
    background-color: wheat;
    color: black;
}

h2{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 60px;
}

h3{
    border-bottom: aqua solid 3px;
}

.cate{
    background-color: blue;
}

.ftr{
    color: white;
}

.red{
    color: red;
}

.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.registrarse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    margin: 10px;
}

.car{
    background-color: green;
}

.carro{
    border: red solid 3px;
}

.comprar{
    display: flex;
    flex-direction: row;
   align-self: center;

}

.border{
    border-bottom: blue solid 1px;
}

.a{
    text-decoration: none;
    color: red;
}

.recuperar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.recu{
    background-color: grey;
}

.ing{
    color: black;
}

.aqua{
  color: blue;
}

.registrarse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(80, 10, 10);
    color: whitesmoke;
}

.re{
    border-bottom: yellow solid 3px;
}

.cuenta{
    border: black solid 2px;
}

.tengo{
    color: aqua;
}

.input{
    margin: 10px;
}

.log{
    background-color: black;
    color: whitesmoke;
}

.lib{
    border: gold solid 2px;
    color: goldenrod
}

.lab{
    color: goldenrod;
}

.go{
    color: gold;
}

.detalle{
    background-color: cornsilk;

}

.product{
    background-color: gray;
}

.pro{
    color: black;
}

.prod{
    border: black solid 3px;
    color: black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid black;
}


@media (max-width: 420px){
    main{
        border: black solid 2px;
        padding: 5px;
    }

    header{
        margin: 10px;
    }

    .tm{
        height: 20vh;
        width: 115px;
    }

    nav{
        background-color: black;
        padding: 10px;
        height: 30vh;
    }

    
    .ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .li{
        list-style: none;
        flex-wrap: wrap;
        height: 3vh;
    }

    .info{
        width: 190px;
        padding-top: 30px;
        margin: 0px 10px 0px 10px;
    }

    .comprar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    
    }

    .border{
        border-bottom: blue solid 1px;
    }
    
    .car{
        background-color: red;
    }
    
    .carro{
        border: aqua solid 3px;
    }
    
    .s{
        padding: 10px;
        margin: 5px 5px;
    }

    .recu{
        background-color: cadetblue;
    }
    
    .recuperar{
        padding: 10px;
    }

   .ing{
    color: yellow;
   }

   .aqua{
    color:black;
   }

   .input{
    margin: 15px;
    padding: 3px;
   }

   .ca{
    margin: 5px;
    padding: 8px;
   }

   .cate{
    background-color: green;
   }

   .ftr{
    background-color: black;
    color: red;
    margin: 9px;
   }

   .red{
    color: blue;
   }

   h3{
     border-bottom: yellow dotted 3px;
   }

   .dat{
    background-color: grey;
   }

   .cuenta{
    border: black solid 2px;
   }

   .tengo{
    color: aqua;
   }

   .input{
    margin: 15px;
    padding: 3px;
   }

   .registrarse{
    background-color: blue;
   }

   .re{
    border-bottom: yellow dotted 3px;
   }



    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
       
}

    
